<span class="inline-grid select-none">
  <span class="[grid-area:1_/_1]">0</span>
  <span class="[grid-area:1_/_1]">1</span>
  <span class="[grid-area:1_/_1]">2</span>
  <span class="[grid-area:1_/_1]">3</span>
  <span class="[grid-area:1_/_1]">4</span>
  <span class="[grid-area:1_/_1]">5</span>
  <span class="[grid-area:1_/_1]">6</span>
  <span class="[grid-area:1_/_1]">7</span>
  <span class="[grid-area:1_/_1]">8</span>
  <span class="[grid-area:1_/_1]">9</span>
</span>
