{%- assign section_color = 'scheme1' -%}
<section
  id="main-cart-items"
  class="border-b-gridline border-gridline-color bg-scheme-background text-scheme-text"
  data-color-scheme="{{ section_color }}"
>
  {% render 'cart-items' %}
</section>
